body{
    background-color: antiquewhite;
    color:midnightblue;
}
h2{
    background-color: gold;
    text-align: center;
    color:darkslategray;
}
.para2{
    background-color:powderblue;
}
strong{
    color:darkblue;
}