
*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: tomato;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: grid;
    transform: translate(365px, 45px);
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 2px;
}

.item {
    background-color: rgb(59, 8, 8);
    height: 48px;
    width: 48px;
}

.item:hover{
    background-color: rgb(129, 47, 47);
}

.itemClicked{
    background-color: rgb(231, 189, 189);
}